In [17]:
# ライブラリのインポート
import pandas as pd

# CSVファイルからデータフレームにデータ読込
frame1 = pd.read_csv(r'C:\\Users\\Owner\\Pandas-Exercises6\\FILE1.csv', index_col=['取引ID'])

# CSVファイルからデータフレームにデータ読込 => このデータフレームのみ結合後に索引を設定する
frame2 = pd.read_csv(r'C:\\Users\\Owner\\Pandas-Exercises6\\FILE2.csv')

# CSVファイルからデータフレームにデータ読込
frame3 = pd.read_csv(r'C:\\Users\\Owner\\Pandas-Exercises6\\FILE3.csv', index_col=['商品ID'])

# CSVファイルからデータフレームにデータ読込
frame4 = pd.read_csv(r'C:\\Users\\Owner\\Pandas-Exercises6\\FILE4.csv', index_col=['顧客ID'])

In [18]:
# 取引概要データのデータフレームを表示
frame1

             取引日 顧客ID
取引ID
T01   2020-10-11  C01
T02   2020-10-11  C04
T03   2020-10-13  C01
T04   2020-10-13  C02

In [19]:
# 取引詳細データのデータフレームを表示
frame2

  取引ID 商品ID  取引量
0  T01  P01   10
1  T01  P02   22
2  T02  P01   17
3  T02  P03   24
4  T03  P03   22
5  T03  P04   11
6  T04  P01   41
7  T04  P04   39

In [20]:
# 商品データのデータフレームを表示
frame3

      商品名
商品ID
P01   商品A
P02   商品B
P03   商品C
P04   商品D

In [21]:
# 顧客データのデータフレームを表示
frame4

        顧客名
顧客ID
C01   顧客AAA
C02   顧客BBB
C03   顧客CCC
C04   顧客DDD

In [22]:
# 取引詳細データに取引概要データをマージ
frame2 = pd.merge(frame2, frame1, how='left', on='取引ID')

In [23]:
# 取引詳細データを確認
frame2

  取引ID 商品ID  取引量         取引日 顧客ID
0  T01  P01   10  2020-10-11  C01
1  T01  P02   22  2020-10-11  C01
2  T02  P01   17  2020-10-11  C04
3  T02  P03   24  2020-10-11  C04
4  T03  P03   22  2020-10-13  C01
5  T03  P04   11  2020-10-13  C01
6  T04  P01   41  2020-10-13  C02
7  T04  P04   39  2020-10-13  C02

In [24]:
# 取引詳細データに顧客データをマージ
frame2 = pd.merge(frame2, frame4, how='left', on='顧客ID')

In [25]:
# 取引詳細データを確認
frame2

  取引ID 商品ID  取引量         取引日 顧客ID    顧客名
0  T01  P01   10  2020-10-11  C01  顧客AAA
1  T01  P02   22  2020-10-11  C01  顧客AAA
2  T02  P01   17  2020-10-11  C04  顧客DDD
3  T02  P03   24  2020-10-11  C04  顧客DDD
4  T03  P03   22  2020-10-13  C01  顧客AAA
5  T03  P04   11  2020-10-13  C01  顧客AAA
6  T04  P01   41  2020-10-13  C02  顧客BBB
7  T04  P04   39  2020-10-13  C02  顧客BBB

In [26]:
# 取引詳細データに商品データをマージ
frame2 = pd.merge(frame2, frame3, how='left', on='商品ID')

In [27]:
# 取引詳細データを確認
frame2

  取引ID 商品ID  取引量         取引日 顧客ID    顧客名  商品名
0  T01  P01   10  2020-10-11  C01  顧客AAA  商品A
1  T01  P02   22  2020-10-11  C01  顧客AAA  商品B
2  T02  P01   17  2020-10-11  C04  顧客DDD  商品A
3  T02  P03   24  2020-10-11  C04  顧客DDD  商品C
4  T03  P03   22  2020-10-13  C01  顧客AAA  商品C
5  T03  P04   11  2020-10-13  C01  顧客AAA  商品D
6  T04  P01   41  2020-10-13  C02  顧客BBB  商品A
7  T04  P04   39  2020-10-13  C02  顧客BBB  商品D

In [28]:
# 取引詳細データに索引設定
frame2.set_index(['取引ID', '商品ID'])

           取引量         取引日 顧客ID    顧客名  商品名
取引ID 商品ID
T01  P01    10  2020-10-11  C01  顧客AAA  商品A
     P02    22  2020-10-11  C01  顧客AAA  商品B
T02  P01    17  2020-10-11  C04  顧客DDD  商品A
     P03    24  2020-10-11  C04  顧客DDD  商品C
T03  P03    22  2020-10-13  C01  顧客AAA  商品C
     P04    11  2020-10-13  C01  顧客AAA  商品D
T04  P01    41  2020-10-13  C02  顧客BBB  商品A
     P04    39  2020-10-13  C02  顧客BBB  商品D

In [29]:
# ライブラリのインポート
import numpy as np

# 列(取引日)、行(商品名)のグループで取引量を集計(集計関数は合計を使用)
frame2.pivot_table(values='取引量', index='商品名', columns='取引日', aggfunc=np.sum)

取引日  2020-10-11  2020-10-13
商品名
商品A        27.0        41.0
商品B        22.0         NaN
商品C        24.0        22.0
商品D         NaN        50.0

In [30]:
# 列(商品名)、行(取引日)のグループで取引量を集計(集計関数は合計を使用)
frame2.pivot_table(values='取引量', index='取引日', columns='商品名', aggfunc=np.sum)

商品名          商品A   商品B   商品C   商品D
取引日
2020-10-11  27.0  22.0  24.0   NaN
2020-10-13  41.0   NaN  22.0  50.0

In [31]:
# 列(取引日)、行(顧客名)のグループで取引量を集計(集計関数は合計を使用)
frame2.pivot_table(values='取引量', index='顧客名', columns='取引日', aggfunc=np.sum)

取引日    2020-10-11  2020-10-13
顧客名
顧客AAA        32.0        33.0
顧客BBB         NaN        80.0
顧客DDD        41.0         NaN

In [32]:
# 列(顧客名)、行(取引日)のグループで取引量を集計(集計関数は合計を使用)
frame2.pivot_table(values='取引量', index='取引日', columns='顧客名', aggfunc=np.sum)

顧客名         顧客AAA  顧客BBB  顧客DDD
取引日
2020-10-11   32.0    NaN   41.0
2020-10-13   33.0   80.0    NaN